NEXT_PUBLIC_GOOGLE_CLIENT_ID=60370875071-hvcmjbk9kov306eu4lqk0t0qegc50tos.apps.googleusercontent.com
NEXT_PUBLIC_BACKEND_URL=http://localhost:5001 # Or your backend's URL if different

# For AI message generation via Next.js API route
GEMINI_API=AIzaSyAjXVA-AbKShAKnXM16rZbcOtjy5vlwpN0

