PORT=5001 # Or any port you prefer
MONGO_URI=mongodb+srv://jainavni008:avni123@backend.qrlcaf1.mongodb.net/backend_db
JWT_SECRET=lkjf08u30984ujrwef08u308rweufwoeufwef # For any custom JWTs if used beyond Google token
GOOGLE_CLIENT_ID=60370875071-hvcmjbk9kov306eu4lqk0t0qegc50tos.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
 